<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Общий бюджет сделок</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #339dc8;
            color: #fff;
            text-align: center;
            margin: 0;
            padding: 0;
        }

        h1 {
            background-color: #339dc8;
            color: #fff;
            padding: 10px;
            margin: 0;
        }

        #content {
            margin: auto;
            padding: 20px;
            background-color: #02709b;
            border-radius: 10px;
            margin-top: 20px;
            max-width: 300px;
        }
    </style>
</head>
<body>
<h1>Общий бюджет сделок</h1>
<div id="content">
    <p>Общий бюджет сделок: {{ sum }} рублей.</p>
</div>
</body>
</html>

